*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {

  --color-text: white


}
@font-face {
  font-family: grafiti;
  src: url(/fonters/Suctenss-BF642280b9ba45d.otf) format('opentype');
}
@font-face {
  font-family: banner;
  src: url(JemberSketch-Yz8P2.ttf) format('truetype');
}
html{
    height: auto;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.flex{
  display: flex;
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
}
header.rolagem{
    background-color: white;
    padding: 20px 4%;
    z-index: 1;
}

header.rolagem a{
    color: black;
}


 header i{
   color: white;
 }
 header ul{
   list-style-type: none;
   font-weight: 500;
  }
  header ul li{
    display: inline-block;
    margin: 0 40px;
  }
  header li a{
    color: black;
    text-decoration: none;
  }
.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .2s;
    border: 0;
    border-radius: 30px;
}
.flex-habilidades{
 display: flex;
 justify-content: space-around;
 
}
  .banner{
    height: 100vh;
    background-image: url(/yellow-wall.jpg);
   /*  background-color: rgb(0, 108, 108);; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  .banner div{
    font-size: 4em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

   
  }


  .txt-animado{
    font-size: 120px;


  }

  .txt-animado span{
    position: relative;
    font-family:  "Poppins", sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
  }

  .txt-animado span::before{
    content: "";
    color: black;
    animation: palavras 20s infinite;
  }
  .txt-animado span::after{
    content: "";
    position: absolute;
    height: 100%;
   /*  border-left: 2px solid black; */
    right: -10px;
    /* animation: cursor .8s infinite, digita 20s steps(10) infinite; */
    width: calc(100% + 15px);
    background-color:rgba(255, 255, 0, 0) ;

  }
@keyframes digita {
  10%, 15%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
    width: 0;
  }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 15px);
    }
  }
  @keyframes cursor {
    0%{
      border-left: 2px solid rgba(185, 0, 112, 0);
    }
  }

  @keyframes palavras {
    0%,20%{
      content: "Quer Qualidade?";
    }
    21%, 40%{
      content: "Quer Eficiência?";
    }
    41%, 60%{
      content: "Quer Agilidade?";
    }
    61%, 80%{
      content: "Quer um Site?";
    }
    81%, 100%{
      content: "Vai conhecer o Anthony";
    }
  }
.interface{
  max-width: 1280px;
  margin: 0 auto;
}
  /* habilidades  */

  .section-habilidades{
    padding: 10px 4%;
    margin-top:0px;
  }
  h2.titulo{
 margin-top: 50px;
    color: black;
    text-align: center;
    font-size: 40px;
  }
  h2.titulo span{
    color: rgb(217, 199, 83);
  }
  .habilidades .habilidades-box{
    text-align: left;
    color: black;
    max-width: 270px;
    height: 410px;
    padding: 10px;
    margin-top: 60px;
    border: 2px solid rgb(217, 199, 83);
    border-radius: 20px;
    transition: .2s;
  }

  .habilidades .habilidades-box h3{
    font-size: 16px;
     margin: 3px 0;
   }
   .habilidades .habilidades-box p{
    font-size: 14px;
 
   }
  .habilidades .habilidades-box i{

   font-size: 40px;
    color: rgb(217, 199, 83) ;
  }
  .habilidades .habilidades-box:hover{
    transform: scale(1.05);
    
  }
  .flex-sobre{
    display: flex;
  }
  .flex{
    display: flex;
  }
 

  section.sobre{
    padding: 40px 4%;
    margin-top: 90px
  }
  section.sobre .flex{
    align-items: center;
    gap: 60px;
  }
  .sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  }
 .txt-sobre{
  padding: 0px 30px;
 }
  .sobre .txt-sobre h2 span{
    color: rgb(217, 199, 83) ;
    display: block;

  }

  .sobre .txt-sobre p{
    font-size: 14px;
    text-align: justify;
    margin: 10px 0;
    margin-bottom: 20px;

  }

 .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: rgb(217, 199, 83);
    font-size: 20px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
  }




  button:hover,  form .btn-enviar input:hover{
    transform: scale(1.05);
  }

  section.contato{
    padding: 0px 4%;
    margin-top: 130px;
    margin-bottom: 100px;
  }

  form{
    
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  form input, form textarea{
    width: 100%;
    background-color: rgba(255, 234, 98, 0.421);
    border: none;
    outline: 0;
    padding: 18px 15px;
    border-radius: 15px;
    color: black;
  }

  form textarea{
resize: none;
height: 100px;
max-height: 200px;
  }
  form textarea::placeholder{
    color: rgb(155, 141, 50);
  }
  form .btn-enviar{
    margin-top: 20px;
    text-align: center;
   
  }

form input::placeholder{
    color: rgb(155, 141, 50);
  }
form .btn-enviar input{
letter-spacing: 1px;
    width: 120px;
background-color:rgb(217, 199, 83) ;
color: white;
font-weight: 700;
cursor: pointer;
transition: .2s;
    
  }

  .contato h2{
    margin-bottom: 60px
  }


  footer{
  background-color: black;
  height: 180px;
  padding: 40px 4%;
  font-size: 12px;
  }
  footer .flex{
    justify-content: space-between;
    }

    footer .linha p i{
      color: white;
      font-size: 17px;
    }

    footer .linha p a{
     color:white;
   
    }

    footer .linha a{
      color:white;

     }
    .wats{
      color: white ;
    }

    .btn-footer button{
      width: 30px;
      height: 30px;
      border-radius: 15px;
      border: none;
      color: white;
      background-color: black;
      font-size: 20px;
      cursor: pointer;
      margin: 0 8px;
      transition: .2s;
    }

  .flex-projetos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  

  .sla button{
   border: none;
   color: black;
   background-color: rgb(193, 176, 67);
   font-size: 20px;
  width: 100px;
  transition: .2s;

  }
  .sla a{
    color: white;
    text-decoration: none;
  
  }

  .sla2 {
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
   
   }
    
   .projetos{
    text-align: center;
    justify-content: space-around;
   }
   section.projetos{
    margin-top: 90px;
   }
  .img-port{
    border: 2px solid rgb(155, 141, 50) ;
  }

  @media screen and (max-width: 1164px){

    .flex-header{
      flex-direction: column-reverse;

    }


    .nav-links, .btn-contato{
      display: none;
    }
    .banner{text-align: center;
    }
  .flex-habilidades{

    align-items: center;
    display: flex;
    flex-direction: column;
  }
  section.habilidades{
    margin-top: 20px;
  }
  .flex-projetos{

    align-items: center;
    display: flex;
    flex-direction: column;
  }
section.sobre{
display: flex;flex-direction: column;
}
.flex-sobre{
  display: flex;flex-direction: column;
  }
.btn-footer{
  flex-direction: column;
}

.habilidades .habilidades-box{
  text-align: left;
  color: black;
  max-width: 270px;
  height: 350px;
  padding: 20px;
  margin-top: 30px;
  border: 2px solid rgb(217, 199, 83);
  border-radius: 20px;
  transition: .2s;
}
.img-sobre{
  text-align: center;
}
  }